@import "./mixins";

.about--me {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    // Styling for color transition
    background-color: white;
    transition: background-color 1s ease-in-out; /* Added transition property */

    .bio--cont {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        gap: 40px;
    }

    // About me page Heading
    h2 {
        @include page-heading;
    }

    // Bio Image Container
    .bio--img--cont {
        display: flex;
        width: 50%; // Adjust width as needed

        img {
            width: 100%; // Make the image fill the container
            border-radius: 10px;
        }
    }

    // Bio Text Container
    .bio--text--cont {
        display: flex;
        flex-direction: column;
        width: 50%; // Adjust width as needed

        //Bio Heading -- Who am I?
        h3 {
            font-family: $headingFont;
            font-size: 2em;
            font-weight: 700;
            margin: 20px 0 0 0;
            color: $primaryCol;
        }

        // Bio article -- 
        h4 {
            font-weight: 500;
            font-size: 1.1em;
            text-align: justify;

            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .bio--img--cont,
        .bio--text--cont {
            width: 100%; // Stack on smaller screens
            max-width: 440px;
        }

        .bio--cont {
            flex-wrap: wrap;
        }

        section .about--me, h2 {
            font-size: 4em;
        }
    }
}
