footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


    .copyright--cont {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 0px 0;
        flex-wrap: wrap;
        gap: 20px;


        //Copyright h3 © 2023 TC
        h3 {
            font-weight: 500;
        }
        //Copyright h3 > span © 2023 TC
        h3 > span {
            font-family: $headingFont;
            font-weight: 800;
        }
        //site built with --
        h4 {
            font-weight: 500;
        }

        // Scroll back to top button --
        a {
            text-decoration: none;
            color: $primaryCol;
        }
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            
            i {
                font-size: 2em;
                color: #9e9e9e;
                margin: 0;
                &:hover {
                    transform: translateY(10px);
                    transition: .5s ease-out;
                }
            }

            h3 {
                margin: 0;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }

    @media (max-width: 768px) {

    }
}