//Navbar .scss settings file

header {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #fff;

    //Sticy nav
    position: sticky;
    top: 0;

    .logo-div {
        padding: 12px  0 12px 0;
        & .logo {
            width: 80px;
        }
    }

    ul {
        display: flex;
        gap: 2.5rem;
    }

    li {
        font-family: $bodyFont;
        font-weight: 500;
        font-size: 1em;
        &:hover {
            text-decoration: underline;
        }
    }

    a {
        list-style: none;
        text-decoration: none;
        color: $primaryCol;
    }
}

//Use case: for hamburger menu or adding a button to header for small screens
// @media (max-width: 768px) {
//     nav {
//         display: none;
//     }

// }