@import "./mixins";
//Navbar .scss settings file

header {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #fff;

    //Sticy nav
    position: sticky;
    top: 0;

    .logo-div {
        padding: 12px 0 12px 0;

        & .logo {
            width: 80px;
        }
    }

    ul {
        display: flex;
        gap: 2.5rem;
    }

    li {
        font-family: $bodyFont;
        font-weight: 600;
        font-size: 1.1em;
        color: $primaryCol;
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: $primaryCol;
        &:hover {
            transition: 0.5s ease-in-out;
            color: $secondaryCol;
        }
    }
}

//Use case: for hamburger menu or adding a button to header for small screens
// @media (max-width: 768px) {
//     nav li {
//         display: none;
//     }
// }