// Colors
$primaryCol: #151616;
$secondaryCol: #606c38;
$btnFontCol: #ffe1bf; //Instead of just white
$btnHoverFontCol: #fff;

//Fonts
$bodyFont: 'Cabinet Grotesk', sans-serif;
$headingFont: 'General Sans', sans-serif;