@import "./variables";
@import "./globals";
@import "./navbar";
@import "./buttons";

main {
    width: 100%;
    height: 100%;
    // justify-content: center;
    align-items: left;
    // display: flex;
    // flex-direction: column;

    //Debugger
    border: 5px solid #ff0000;

    .hero-txt-cont {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-family: $headingFont;
        font-weight: 900;
        font-size: 6em;
        margin: 0;

        //Debugger
        border: 1px solid blue;
    }

    h4 {
        width: 567px;
        margin: 0;
        font-size: 1em;
        font-weight: 400;

        //Debugger
        border: 1px solid blue;
    }

    button {
        @include primaryButton()
    }
}



@media (max-width: 583px) {
    main h1 {
        font-size: 4.2em;
    }
}